In [ ]:
#Questions
#Should I bin the Google Places data?

In practice I went back and forth between data cleaning and visualization
-not separate steps

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
Listing_data = pd.read_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\Cleaned_Data_May_13.csv')

In [13]:
print Listing_data.columns

Index([u'ID', u'city', u'country', u'latitude', u'location_data_accuracy', u'longitude', u'state', u'availability', u'average_image_size', u'bathroom', u'bedroom', u'cat', u'date_available', u'description', u'dog', u'housing_type', u'image_number', u'laundry', u'parking', u'price', u'smoking', u'square_footage', u'time_of_posting', u'url'], dtype='object')

In [14]:
Google_Places_data = pd.read_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\GooglePlacesAPI_May_13.csv')

In [15]:
Google_Places_data[0:2]

,ID,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list
0,4959351766,0,0,0,0,0,0,0,0,0
1,4959370650,19,14,2,7,0,3,0,2,7

In [16]:
data = pd.merge(Listing_data, Google_Places_data, how='inner', on='ID')

In [17]:
data.head()

,ID,city,country,latitude,location_data_accuracy,longitude,state,availability,average_image_size,bathroom,...,url,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list
0,4959351766,NaN,NaN,NaN,NaN,NaN,NaN,available now,270000,1,...,http://washingtondc.craigslist.org/mld/apa/495...,0,0,0,0,0,0,0,0,0
1,4959370650,alexandria,US,38.806000,22,-77.052900,DC,available now,0,NaN,...,http://washingtondc.craigslist.org/mld/apa/495...,19,14,2,7,0,3,0,2,7
2,4959459805,NaN,NaN,NaN,NaN,NaN,NaN,available now,0,1,...,http://washingtondc.craigslist.org/doc/apa/495...,0,0,0,0,0,0,0,0,0
3,4960122664,washingtondc,US,38.904593,0,-77.053127,DC,available now,270000,2,...,http://washingtondc.craigslist.org/doc/apa/496...,20,20,5,4,0,4,1,1,20
4,4960256181,NaN,NaN,38.919400,22,-76.787100,NaN,available now,0,2.5,...,http://washingtondc.craigslist.org/mld/apa/496...,0,0,0,0,0,0,0,0,0

## Data Cleaning

In [18]:
#Clean up the Price Field

#the code in the try block works only if listings have '$' in the price field - otherwise the code is not necessary
try:
    # Remove listings that do not have a listed price in the title
    data['price_to_keep'] = [price[0] for price in data.price]
    data = data[data.price_to_keep == '$']
    data.drop('price_to_keep', axis=1, inplace = True)

    # Remove dollar symbol from price to change string to integer
    data.price = [int(price.replace('$','')) for price in data.price]
except: pass

#Drop all listing that do not have a listed price as they do not apply to my analysis
data = data[data.price > 0]

# Remove outliers - possible data input mistakes from users
data = data[data.price < 10000]

# Remove listings with price listed as $1
#I hypothisize that this is to show up at the top when a user sorts by price
data = data[data.price > 1]

In [19]:
#Covert animals and smoking variables to numeric (1 = allowed; 0 = not allowed)

data['dog'] = [1 if dog == 'dogs are OK - wooof' else 0 for dog in data.dog]
data['cat'] = [1 if cat == 'cats are OK - purrr' else 0 for cat in data.cat]
#smoking is not a good metric due to mass of NaN values
data['smoking'] = [0 if smoking == 'no smoking' else 1 for smoking in data.smoking]

In [20]:
#Clean up mispelled cities
print sorted(set(data.city))

data.city = [str(city).lower() for city in data.city]
data.city = [str(city).replace('%2c','') for city in data.city]
data.city = [str(city).replace('%2d','') for city in data.city]
data.city = [str(city).replace('%2e','') for city in data.city]
data.city = [str(city).replace('%2f','') for city in data.city]
data.city = [str(city).replace('%21','') for city in data.city]

data.city[data.city == 'aleandria'] = 'Alexandria'

data.city[data.city == 'anandale'] = 'annandale'

data.city[data.city == 'arliington'] = 'arlington'
data.city[data.city == 'arlilngton'] = 'arlington'

data.city[data.city == 'aspin'] = 'aspen'

data.city[data.city == 'betheda'] = 'bethesda'

data.city[data.city == 'hyattsvile'] = 'hyattsville'
data.city[data.city == 'hyattsvelle'] = 'hyattsville'
data.city[data.city == 'hyatsville'] = 'hyattsville'

data.city[data.city == 'w'] = 'washingtondc'
data.city[data.city == 'wahsington'] = 'washingtondc'
data.city[data.city == 'wash'] = 'washingtondc'
data.city[data.city == 'washigton'] = 'washingtondc'
data.city[data.city == 'washingon'] = 'washingtondc'
data.city[data.city == 'washinnton'] = 'washingtondc'
data.city[data.city == 'washinton'] = 'washingtondc'
data.city[data.city == 'washiongton'] = 'washingtondc'
data.city[data.city == 'dc'] = 'washingtondc'
data.city[data.city == 'district'] = 'washingtondc'
data.city[data.city == 'washington'] = 'washingtondc'

data.city[data.city == 'woodbrige'] = 'woodbridge'

data.city[data.city ==  'forstville'] = 'forestville'

data.city[data.city ==  'gathersburg'] = 'gaithersburg'

data.city[data.city ==  'germatnown'] = 'germantown'

data.city[data.city == 'springfiel'] = 'springfield'
data.city[data.city == 'rockvillenorth'] = 'rockville'
data.city[data.city == 'nw'] = 'northwest'
data.city[data.city == 'norht'] = 'north'
data.city[data.city == 'mt'] = 'mount'

c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[nan, 'aldie', 'alexandria', 'annandale', 'arlington', 'ashburn', 'baltimore', 'beltsville', 'bethesda', 'bladensburg', 'bowie', 'broadlands', 'capitol', 'centreville', 'chantilly', 'chevy', 'clinton', 'college', 'columbia', 'crofton', 'dale', 'damascus', 'dumfries', 'elkridge', 'fairfax', 'falls', 'forestville', 'frederick', 'fredericksburg', 'gaithersburg', 'germantown', 'greenbelt', 'hamilton', 'harpers', 'herndon', 'hyattsville', 'kensington', 'landover', 'largo', 'laurel', 'laytonsville', 'leesburg', 'lorton', 'manassas', 'mclean', 'montgomery', 'n', 'north', 'northwest', 'oak', 'oakton', 'oxon', 'potomac', 'reston', 'riverdale', 'rockville', 'rosslyn', 'silver', 'springfield', 'stafford', 'sterling', 'stone', 'suitland', 'takoma', 'triangle', 'upper', 'vienna', 'waldorf', 'washingtondc', 'wheaton', 'woodbridge']

In [50]:
#Clean up mispelled state
print sorted(set(data.state))

data.state = [str(state).lower() for state in data.state]

data.state = [str(state).replace('%2e','') for state in data.state]
data.state = [str(state).replace('%2ec','') for state in data.state]
data.state = [str(state).replace('%2f','') for state in data.state]

data.state[data.state == 'bethesdarockville'] = 'bethesda'
data.state[data.state == 'bethsda'] = 'bethesda'
data.state[data.state == 'd'] = 'dc'

c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

['bethesda', 'chase', 'church', 'city', 'college', 'dc', 'falls', 'ferry', 'heights', 'hill', 'marlboro', 'no_data', 'park', 'potomac', 'ridge', 'spring', 'village', 'washington']

In [21]:
#clean up square footage

#remove listings where square footage was not listed as a number (e.g. square_footage == 'loft')
data.square_footage[data.square_footage == 'loft'] = 0
data = data[data.square_footage != 0]

#find the mean value of listing square footage
square_footage_series = data.square_footage[data.square_footage.isnull() == False]
square_footage_series = [int(i) for i in square_footage_series]
square_footage_mean = np.mean(square_footage_series)

#fill in null square footage values with the square_footage_mean
#This is a first approach to enable square_footage to work in models
data.square_footage.fillna(square_footage_mean, inplace=True)

c:\Users\alsherman\AppData\Local\Continuum\Anaconda\lib\site-packages\IPython\kernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Fill in Missing Values

In [51]:
#Fill in missing values for categorical variables with entry 'No_Data'
data[data.city == 'nan'] #some rows have text 'nan' instead of special Python charcter
data.city.fillna('No_City_Data', inplace=True)
data.country.fillna('No_Country_Data', inplace=True)
data.state.fillna('No_State_Data', inplace=True)
data.housing_type.fillna('No_Housing_Data', inplace=True)
data.url.fillna('No_Url_Data', inplace=True)
data.description.fillna('No_Description_Data', inplace=True)
data.laundry.fillna('No_Laundry_Data', inplace=True)
data.parking.fillna('No_Parking_Data', inplace=True)
data.availability.fillna('No_Availability_Data', inplace=True)

#Fill in missing values for numeric variables with entry 0 or mean values
data.latitude.fillna(0, inplace=True)
data.location_data_accuracy.fillna(0, inplace=True)
data.longitude.fillna(0, inplace=True)
data.bathroom.fillna(0, inplace=True)
data.bedroom.fillna(0, inplace=True)
data.cat.fillna(0, inplace=True)
data.dog.fillna(0, inplace=True)
data.image_number.fillna(0, inplace=True)
data.grocery_list.fillna(0, inplace=True)
data.gym_list.fillna(0, inplace=True)
data.movie_theatre_list.fillna(0, inplace=True)
data.train_station_list.fillna(0, inplace=True)
data.airport_list.fillna(0, inplace=True)
data.subway_station_list.fillna(0, inplace=True)
data.Barnes_and_Nobles_list.fillna(0, inplace=True)
data.Deloitte_list.fillna(0, inplace=True)
data.Starbucks_list.fillna(0, inplace=True)
data.smoking.fillna(0, inplace=True)
data.average_image_size.fillna(0, inplace=True) #missing values indicate no images, so values are correct as 0

## Data Exploration

In [52]:
data.describe()

,ID,country,latitude,location_data_accuracy,longitude,average_image_size,bedroom,cat,dog,image_number,...,smoking,grocery_list,gym_list,movie_theatre_list,train_station_list,airport_list,subway_station_list,Barnes_and_Nobles_list,Deloitte_list,Starbucks_list
count,3.076000e+03,3076.000000,3076.000000,3076.000000,3076.000000,3076.000000,3076.000000,3076,3076,3076.000000,...,3076.000000,3076.000000,3076.000000,3076.000000,3076.000000,3076,3076.000000,3076.000000,3076.000000,3076.000000
mean,4.984234e+09,0.448960,30.585578,0.730169,-60.651097,213120.936281,2.061118,0,0,9.697009,...,0.522432,9.850130,6.728869,0.997399,2.015605,0,1.365735,0.157997,0.607607,3.244148
std,1.154868e+07,0.497469,15.942676,3.457620,31.613972,110118.397497,1.234268,0,0,7.893017,...,0.499578,8.209095,7.000438,1.644105,3.758535,0,2.900269,0.488307,1.271755,4.940414
min,4.959352e+09,0.000000,0.000000,0.000000,-78.269000,0.000000,0.000000,0,0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000
25%,4.975371e+09,0.000000,38.719200,0.000000,-77.121000,270000.000000,1.000000,0,0,3.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.000000
50%,4.985626e+09,0.000000,38.855283,0.000000,-77.059200,270000.000000,2.000000,0,0,8.000000,...,1.000000,9.000000,4.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,1.000000
75%,4.995176e+09,1.000000,38.919865,0.000000,-76.852868,270000.000000,3.000000,0,0,15.000000,...,1.000000,19.000000,13.000000,2.000000,3.000000,0,2.000000,0.000000,1.000000,4.000000
max,5.001980e+09,1.000000,39.355737,22.000000,0.000000,270000.000000,6.000000,0,0,24.000000,...,1.000000,20.000000,20.000000,9.000000,20.000000,0,18.000000,3.000000,6.000000,20.000000

In [227]:
#Still need to determine what I will do with time series data

'''
data.date_available
data.time_of_posting
'''

231932.11488250652

In [282]:
data.to_csv(r'C:\Users\alsherman\Desktop\GitHub\DataScience_GeneralAssembly\Data\Cleaned_Data_May_14.csv', index=False)